@import '../../_config';
@import '../../_utils';
@import '../_icon/_icon';

.global-footer {
  height: $footer-height;
  color: #b2b2b2;

  .header {
    font-family: $font-family-serif;
    font-size: 24px;
    color: #7c7979;
    margin-bottom: $unit*3;
  }
}

.global-footer-terms {
  @include box-sizing;
  @include clearfix;
  padding: $unit*3 0;
  background-color: #1a1a1a;

  .global-footer-container {
    display: flex;
    flex-direction: row;
  }

  .global-footer-row {
    width: 50%;
    a {
      color: #fff;
      &:hover {
        color: $base-link-hover-color;
      }
    }
  }

  .terms-copyright {
  }

  .terms-sponsor {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
}