@import 'config';

html,
button,
input,
select,
textarea {
    font-family: $font-family-sans-serif;
}

pre,
code,
var,
kbd,
samp {
    font-family: $font-family-mono;
    font-size: 14px;
    -moz-tab-size:    4; /* Firefox 4+ */
    -o-tab-size:      4; /* Opera 11.5 & 12.1 only */
    tab-size:         4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
}

pre code {
    background-color: #f8f8f8;
    padding: 10px;
    display: block;
}

html {
    height: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
    color: $base-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: #fff;
}

a {
    color: $base-link-color;
    text-decoration: underline
}

a:hover {
    color: $base-link-hover-color;
}

.hidden {
    display: none !important;
}
