// let menu content to scroll(fix:https://theplanttokyo.atlassian.net/browse/KAK-3304)
.v-navigation-drawer {
  .v-main {
    display: flex;
    flex-direction: column;

    .menu-content {
      overflow: auto;
    }
  }
}