.demo {
	border-right: 10px solid orange;
	padding-right: 10px;
	margin: 20px 0;
	text-align: right;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8;
}
