name: Build and Deploy Docs
permissions:
  contents: write
  checks: write
  pull-requests: read

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: set Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install pnpm
        run: npm install -g pnpm@10.16.1

      - name: Install dep
        working-directory: ui/vuetifyx/vuetifyxjs
        run: pnpm install

      - name: build doc
        working-directory: ui/vuetifyx/vuetifyxjs
        run: pnpm run docs:build

      - name: push to gh-pages branch
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ui/vuetifyx/vuetifyxjs/docs/.vitepress/dist
          publish_branch: gh-pages
