name: go
permissions:
  contents: read

on:
  push:
    branches: [master]
    paths-ignore:
      - '**/dist/**'
      - '**/*.md'
      - '**/docs/**'
  pull_request:
    branches: [master]
    paths-ignore:
      - '**/dist/**'
      - '**/*.md'
      - '**/docs/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: 'Asia/Shanghai'

      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.22.3

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
